.intakes {
  display: flex;
  flex-direction: row;
}

.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #009261;
  color: white;
  padding: 2rem;
  margin: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 13px 30px -8px #80867f4a;
  border: 1px solid #8e8e8e12;
}

.img {
  width: 100%; /* Adjust the width as needed */
  height: 500px; /* Adjust the height to match the red box height */
  object-fit: cover;
  object-position: center; /* Adjust this value to match the center of the red box */
  filter: brightness(75%);
  padding: 0;
  margin: 0;
  position: relative;
}

.textOverImage {
  position: absolute;
  top: 25%;
  left: 10%;
  color: white;
  font-size: 64px;
  text-shadow: 2px 2px 4px #000000;
}

.zero{
  padding: 0%;
  margin: 0%;
  width: 100%;
}

