.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  background: linear-gradient(#009261, rgb(18, 28, 29));
  
}

.nav{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 1rem;
}

.appName{
  justify-content: start;
  font-size: 2rem;
  font-weight: bold;
  margin-left: 2rem;
  padding: 0.5rem;
}

.headerLinks {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.headerLink {
  padding: 10px 40px;
  margin: 0px;
  text-decoration: none;
  color: #ddd;
  margin-right: 10px;
  font-weight: bold;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.logoutLink {
  justify-content: end;
}

.headerLink:hover {
  background-color: #ddd;
  color: #000;
}

@media screen and (max-width: 768px) {
  .header {
    flex-direction: column;
  }

  .headerLinks {
    flex-direction: column;
    align-items: center;
  }

}


