.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    box-shadow: 0 13px 30px -8px #80867f4a;
    border-radius: 0.5rem;
    border: 1px solid #8e8e8e12;
    padding: 1rem;
    margin: 1rem;
  }
  
  .item > svg {
    font-size: 5rem;
  }
  
  .item > p {
    font-size: 0.9rem;
    width: 300px;
  }

  .item span {
    color: #4c5d51;
  }
  
  .meter {
    display: block;
    margin: 2em auto;
    background: #efefef;
    border-radius: 8px;
    border: 1px solid transparent; /* 2 */
    box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.15) inset, 0 0 0 1px #333; /* 1 */
    height: 0.75em;
    max-width: 10em;
    overflow: hidden;
    width: 100%;
  }
  
.h2{
    color: black
}

.p{
    color : black
}